.container {
  max-width: 600px;
  margin-top: 100px;
  padding: 25px;
  border: solid 2px #393e46;
  background: rgba(135, 206, 250, 0.6);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 45px;
}

h3 {
  font-size: 20px;
}
.search {
  text-align: right;
}

.button {
  font-size: 15px;
  border-radius: 5px;
  margin-top: 5px;
  background: #cdd0cb;
}

.temperature {
  text-align: center;
}

.temperature img {
  height: 70px;
  width: 70px;
  position: relative;
  bottom: 10px;
}

#current-conditions {
  position: relative;
  bottom: 15px;
  font-size: 18px;
}

.temperature h1 {
  font-size: 55px;
}

.degrees {
  font-size: 17px;
  font-weight: normal;
  position: relative;
  bottom: 25px;
}

.degrees a {
  text-decoration: none;
  color: #6c757d;
}

.degrees .active {
  color: black;
}

.extras {
  font-size: 15px;
  position: relative;
  left: 30px;
}

.forecast-short {
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

.forecast-short img {
  height: 50px;
  width: 50px;
}

.forecast-long {
  text-align: center;
  font-size: 19px;
}

.forecast-long img {
  height: 70px;
  width: 70px;
}

.coder {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.coder a {
  text-decoration: none;
}
